body {
  margin: 0;
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
}

 * {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #E3B873;
}

.header-navigation {
  list-style: none;
}

.button {
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  font-style: italic; 
  color: #FFFFFF;

  border-radius: 2px;
  outline: 0;
  border: 0;
  cursor: pointer;

  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.button:not(.button-submit):hover {
  background: #eec582;
}

.title {
  margin: 0;
  font-family: 'Yeseva One', 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subtitle {
  font-family: 'Yeseva One', 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.input {
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 163.68%;
  color: #363636;
}

.phone {
  color: #FFFFFF;
}

.caption {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.phone:hover,
.header-menuproject__link:hover {
  text-decoration: underline;
}

/* Header */

.wrap {
  max-width: 1250px;
  margin: 0 auto;
}

.wrap--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 83px;
  text-transform: uppercase;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
}

.header-logo {
  display: inline-block;
  color: #E3B873;
}

.header-menu {
  display: flex;
}

.header-menu__item {
    margin-right: 47px;
}

.header-menu__link {
    color: white;
}

.header-button {
  padding: 13px 33px;
}

/* Main Screen */

.mainscreen {
  background-image: url('../images/hero.svg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

.wrap--mainscreen {
  width: 80%;
}

.mainscreen__content {
  position: relative;
  z-index: 1;
}

.mainscreen-overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

.title--color {
  color: #E3B873;
}

.title--mainscreen {
  font-size: 40px;
  line-height: 53px;
}

.mainscreen__subtitle {
  margin-top: 19px;

  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.mainscreen button {
  margin-top: 41px;
  margin-right: 20px;
}

.button-calc-cost {
  padding: 19px 42px 21px 41px;
}

.button-submit {
  padding: 19px 23px 21px 22px;
  border: 1px solid #FFFFFF;
  background: transparent;
  box-shadow: none;
}

.button-submit:hover {
  border: 1px solid #c2bdbd;
}

/* Page 2 - Completed project */

.project {
  padding-top: 107px;
  height: 1074px;
  background-color: black;
}

.wrap--project {
  width: 80%;
}

.header-menuproject {
  padding: 0;
  width: 679px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.header-menuproject__item {
  padding: 0;
  list-style: none;
}

.header-menuproject__link {
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.project-content {
  margin-top: 45px;

  display: flex; 
  flex-flow: column wrap;
  height: 484px;
  width: 100%;
  align-content: space-between;
}

.project-content__slide-block,
.project-content__description {
  width: 443px;
  margin-right: 20px;
}

.project-content__description {
  flex: 0 0 170px;
}

.project-content__images {
  width: 679px;
  height: 482px;
}

.project-content__images__item {
  width: 100%;
  height: auto;
}

.title--project {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #E3B873;
}

.project-content___subtitle {
  margin-top: 34px;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}

.project-content__slide-block {
  flex: 1 0;
}

.project-content__slide-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.project-content__slide__item {
  width: calc(100% / 2);
  height: 76px;
}

.title--slide-item{
  color: #E3B873;
  text-align: left;
  margin-bottom: 9px;
}

.project-content__dots {
  display: flex;
  justify-content: center;
}

.dot {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.dot:not(:last-child) {
  margin-right: 30px;
}

.dot:last-child {
  margin-right: 35px;
}

.dot:first-child {
  margin-left: 35px;
}

.project-content__dots::before,
.project-content__dots::after {
  content: '';
  background-image: url(../icons/slide.svg);
  background-size: cover;
  z-index: 1;
  width: 40px;
  height: 10px;
  cursor: pointer;
  transition: 0.6s ease;
}

.project-content__dots::after {
  transform: rotate(180deg);
}

.dot:hover {
  background-color: white;
}

/* Page 3 - video page */

.subtitle_icon {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.subtitle_icon::before,
.subtitle_icon::after {
  content: " ";
  display: inline-block;
  height: 3px;
  text-shadow: none;
  background-color: #E3B873;
  width: 32px;
}

.subtitle_icon::before {
  margin: 0 10px 10px 0;
}

.subtitle_icon::after {
  margin: 0 0 10px 10px;
}

.videoform {
  margin-top: -340px;
  height: 1072px;
}

.wrap--videoform {
  width: 56.73%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title--videoform {
  color: #FFFFFF;
}

.videoform__video {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.videoform__video__item {
  width: 100%;
  height: auto;
}

.videoform__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(0, 0, 0, 0.8);
}

.videoform__video::after {
  content: '';
  background-image: url(../icons/play.svg);
  background-size: cover;
  width: 85px;
  height: 85px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -42.5px;
  margin-left: -42.5px;
  cursor: pointer;
}

.videoform__line {
  margin-top: 62.5px;
  border: 1px solid #E3B873;
  width: 55px;
}

.videoform__text {
  margin-top: 34.5px;
  display: inline-block;
  width: 672px;

  font-size: 18px;
  line-height: 36.83px;
  text-align: center;

  color: #363636;
}

.videoform__form {
  margin-top: 93px;
  width: 769px;
}

.videoform__form__input {
  display: flex;
  justify-content: space-between;
}

.videoform__form__input span {
  color: rgba(54, 54, 54, 0.5);
  display: flex;
  flex-direction: column;
}

.videoform__form__input input {
  width: 231px;
}

.button--submit {
  width: 200px;
  height: 51px;
}

input[type = 'text'] {
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.videoform__form__checkbox {
  margin-top: 39px;
  display: flex;
  justify-content: center;
}

label[for = 'data'] {
  line-height: 163.68%;
  color: #181818;
  cursor: pointer;
}

input[type = 'checkbox'] { 
  position: absolute;
  z-index: -1;
  opacity: 0; 
}

input[type = 'checkbox'] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input[type = 'checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #E3B873;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

input[type = 'checkbox']:checked + label::before {
  background-color: #E3B873;
  background-image: url(../icons/vector.svg);
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

/* Page 4 - Types of Repair */

.repair {
  margin-top: 45px;
  height: 760px;
}

.wrap--repair {
  width: 85.83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title--repair {
  width: 100%;
  text-align: center;
}

.subtitle_icon {
  width: 100%;
  margin-bottom: 31px;
}

.repair__block__item {
  width: 392px;
  height: 100%;
  max-height: 421px;
  position: relative;
}

.repair__image {
  width: 100%;
  max-height: 421px;
}

.repair_textblock,
.repair__price {
  position: absolute;
  left: 7.9%;
}

.repair_textblock {
  width: calc(392px - 7.9% - 7.9%);
  bottom: -36%;

  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  padding: 25px 0 35px 31px; 
  text-align: left;
}

.repair__price {
  bottom: calc(-36% - 26px);
  width: 56%;
  height: 54px;
  background: #E3B873;
  text-align: center;
}

.repair__price span {
  font-size: 18px;
  line-height: 54px;
}

.subtitle--repair {
  color: #363636;
  text-transform: none;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.repair__list {
  margin-top: 13px;
  padding: 0;
  list-style-position: inside;
}

.repair__list__item {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}