.wrap {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 425px;
}

.title {
  font-size: 22px;
  line-height: 138.6%;
}

.subtitle {
  font-size: 14px;
  line-height: 138.6%;
}

.input {
  line-height: 138.72%;
}

.phone {
  color: #FFFFFF;
}

.header-navigation,
.header-button,
.projects-page__dots,
.request-block,
.footer {
  display: none;
}

.dot, 
.caption,
.projects-page__subtitle,
.videoform-page__text {
  font-size: 11px;
  line-height: 158.48%;
}

.wrap--mainscreen,
.wrap--project,
.wrap--mainscreen,
.wrap--project,
.wrap--videoform,
.wrap--repair  {
  width: 100%;
}

.form-textbox--size {
  width: 100%;
}

.projects-page,
.videoform-page,
.repair-page,
.projects-content,
.styles-page,
.contacts-page {
  height: 100%;
}

.mainscreen-page button,
.projects-page__slider--images,
.contact-form,
.button--submit, 
.videoform__text,
.repair-categories,
.styles-page {
  width: 100%;
}

.projects-page,
.videoform-page {
  background: #000;
}

/* Header */

.wrap--header {
  min-height: 57px;
}

.header {
  position: static;
}

/* Page 1 - Mainscreen */

.mainscreen-page {
  padding-top: 85px;
}

.mainscreen-page__title {
  font-size: 23px;
  line-height: 132.83%;
}

.mainscreen-page__subtitle {
  margin-top: 16px;
  font-size: 14px;
  line-height: 135.84%;
}

.mainscreen-page button {
  margin-top: 32px;
} 

/* Page 2 - project */

.projects-page {
  padding-top: 1px;
}

.projects-page__title {
  font-size: 22px;
  line-height: 138.6%;
  color: #E3B873;
  text-align: center;
  width: 100%;
}

.projects-page__subtitle {
  text-align: center;
  margin-top: 22px;
  width: 100%;
}

.projects-page__slider--info {
  width: 25em;
  order: 3;
  margin-top: 36px;
  margin-right: 0;
}

.projects-page__slider--images {
  margin: 36px 0 0 0;
  position: relative;
  height: auto;
  order: 2;
}

.projects-page__slider--images::before,
.projects-page__slider--images::after,
.styles-images::before,
.styles-images::after {
    cursor: pointer;

    content: '';
    background-image: url(../icons/mobile-switch-image.svg);
    background-size: cover;
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 999;
    top: 50%;
    margin-top: -18px;
    transition: 0.6s ease;
}

.projects-page__slider--images::before,
.styles-images::before {
  left: 14px;
}

.projects-page__slider--images::after,
.styles-images::after {
  right: 14px;
  transform: rotate(180deg);
}

.projects-page__slider--images::before:hover,
.projects-page__slider--images::after:hover {
  box-shadow: 20px 20px 20px white;
}

/* Page 3 - Online control */

.videoform-page {
  padding-top: 45px;
  margin-top: 0;
}

.videoform-page__title {
  font-size: 22px;
  line-height: 138.6%;
}

.videoform-page__video {
  height: 207px;
  width: 100%;
}

.videoform-page__line {
  margin-top: 28px;
}

.videoform-page__text {
  margin-top: 21.46px;
  line-height: 169.8%;
  color: #FFFFFF;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.caption {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.projects-page__slider__item span {
  color: #ffffff;
}

.input--white {
  background-color: black;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
  width: 100%;
}

.wrap--form-white ::placeholder {
  color: #fff;
}

label:first-child {
  margin-bottom: 63px;
}

.text {
  color: #fff;
}


.wrap--form-white input[type = 'submit'] {
  transform: translateY(105px);
}

.wrap--form-white div[class="form-checkbox"] {
  margin-top: 61px;
  transform: translateY(-70px);
}

.form-checkbox {
  text-align: left;
}

.mg-top-checkbox {
  margin-top: 0;
}

.text {
  color: #fff;
}

textarea:focus, 
input:focus,
input, 
select, 
textarea {
  color: #fff;
}

/* Page 4 - repair-page */

.repair-page {
  padding-top: 62px;
  margin-top: 0;
  background: #fff;
  height: 1677px;
}

.repair-categories {
  flex-direction: column;
}

.repair-type__image {
  max-height: 365px;
  object-fit: cover;
}

.mg-left {
  margin-left: 0;
}

.repair-type {
  width: 100%;
  height: 485px;
}

.repair-type__name {
  font-size: 15px;
}

.repair-type-description {
  width: 270px;
}

.row {
  flex-direction: column;
}

.repair-type__options__item {
  line-height: 169.8%;
}

.title--review { 
  height: 40px;
  bottom: -25px;
}

.title--review span {
  font-size: 15px;
  line-height: 40px;
}
.repair-type:nth-child(even) {
  margin: 0 0 59px 0;
}

.repair-type {
  margin-bottom: 59px;
  height: 484px;
}

/* styles page */

.styles-page {
  margin-top: 100px;
  background-image: none;
  background: transparent;
  height: 255px;
}

.styles-list {
  display: none;
}

.styles-page div[class="contacs-page-overlay"] {
  background: transparent;
}

.styles-navigation {
  margin-top: 50px;
  width: 100%;
}

.image-2,
.image-3,
.image-4 {
  display: none;
}

.clients-page__subtitle,
.clients-feedback {
  display: none;
}

.image-1 {
  margin: 0;
  width: 100%;
  height: 242px;
}

.styles-images {
  width: 100%;
  height: 242px;
  margin-top: 24px;
  position: relative;
}

.wrap--question-form {
  margin-top: 180px;
  width: 100%;
}

.wrap--question-form {
  padding: 0 18px;
  transform: translateY(0);
}

/* Clients */

.clients-page {
  margin-top: 0;
  height: auto;
}

.clients-page__title {
  color: black;
}

.wrap--clients {
  background: black;
}

.contacts-page {
  background-image: none;
  background: black;
  width: 100%;
  padding-bottom: 49px;
}

.content {
  display: flex;
  flex-direction: column;
}

.contacts-page div[class="content"] {
  display: flex;
  flex-direction: column;
}

.contacts-page div[class="contacs-page-overlay"] {
  background: transparent;
}

.map {
  order: -1;
  width: 100%;
  padding: 42px 0;
}

.contacts-title {
  order: 0;
  padding-top: 0;
}

.contacts-icons {
  order: 1;
}