/* Header */
.dot, 
.caption,
.project-content___subtitle,
.videoform__text {
  font-size: 11px;
  line-height: 158.48%;
}

.header {
  position: static;
  min-height: 57px;
}

.title {
  font-size: 22px;
  line-height: 138.6%;
}

.subtitle {
  font-size: 14px;
  line-height: 138.6%;
}

.input {
  line-height: 138.72%;
}

.header-navigation,
.button--header,
.header-button,
.project-content__dots {
  display: none;
}

.phone {
  color: #FFFFFF;
}

.wrap {
  min-height: 57px;
  padding-left: 18px;
  padding-right: 18px;
}

.wrap--header,
.wrap--project,
.wrap--mainscreen,
.wrap--videoform,
.mainscreen button,
.project-content__description,
.project-content__images,
.videoform__form,
.videoform__form__input input,
.button--submit,
.videoform__text    {
  width: 100%;
}

.wrap--header,
.wrap--project,
.wrap--mainscreen,
.wrap--videoform {
  max-width: 1100px;
  height: 100%;
}

.mainscreen {
  padding-top: 85px;
}

.title--mainscreen {
  font-size: 23px;
  line-height: 132.83%;
}

.mainscreen__subtitle {
  margin-top: 16px;
  font-size: 14px;
  line-height: 135.84%;
}

.mainscreen button {
  margin-top: 32px;
} 

/* Page 2 - project */

.project {
  padding-top: 1px;
  height: 100%;
}

.project-content {
  display: flex;
  height: 100%;
}

.project-content__slide-block,
.project-content__description {
  margin-right: 0;
}

.project-content__description {
  margin-bottom: 10px;
  text-align: center;
  order: 1;
}

.title--project {
  font-size: 22px;
  line-height: 138.6%;
  color: #E3B873;
}

.project-content___subtitle {
  margin-top: 22px;
}

.project-content__images {
  margin: 36px 0 0 0;
  position: relative;
  height: auto;
  order: 2;
}

.project-content__images__item {
  width: 100%; 
  height: auto;
}

.project-content__images::before,
.project-content__images::after {
    cursor: pointer;

    content: '';
    background-image: url(../icons/switch.svg);
    background-size: cover;
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 999;
    top: 50%;
    margin-top: -18px;
    transition: 0.6s ease;
}

.project-content__images::before {
  left: 14px;
}

.project-content__images::after {
  right: 14px;
  transform: rotate(180deg);
}

.project-content__images::before:hover,
.project-content__images::after:hover {
  box-shadow: 20px 20px 20px white;
}

.project-content__slide-block {
  width: 25em;
  order: 3;
  margin-top: 36px;
}

/* Page 3 - online control */

.videoform {
  margin-top: -1px;
  background: black;
  height: 100%;
}

.title--videoform {
  font-size: 22px;
  line-height: 138.6%;
}

.videoform__video {
  height: 207px;
  margin: 40px auto;
}

.videoform__video__item {
  width: 100%;
}

.videoform__video {
  width: 100%;
  height: auto;
  margin: 46px 0 0 0;
}

.videoform__video::after {
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
}

.videoform__line {
  margin-top: 28px;
}

.videoform__text {
  margin-top: 21.46px;
  line-height: 169.8%;
  color: #FFFFFF;
}

.videoform__form {
  margin-top: 61px;
}

.videoform__form__input label {
  font-size: 13px;
  line-height: 138.72%;
  color: white;
}

.videoform__form__input span {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.videoform__form__input {
  display: flex;
  flex-direction: column;
}

input[type = 'text'] {
  background-color: black;
  border-bottom: 1px solid white;
}

label:first-child {
  margin-bottom: 63px;
}

input[type = 'submit'] {
  transform: translateY(80px);
}

.videoform__form__checkbox {
  margin-top: 0;
  transform: translateY(-20px);
  justify-content: flex-start;
  margin-bottom: 40px;
}

label[for = 'data'],
input::placeholder { 
  color: white;
}

.types {
  background-color: white;
}

textarea:focus, 
input:focus,
input, 
select, 
textarea {
  color: white;
}

