body {
  margin: 0;
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
}

 * {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-style: italic; 
  color: #FFFFFF;

  border-radius: 2px;
  outline: 0;
  border: 0;
  cursor: pointer;

  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.title {
  margin: 0;
  font-family: 'Yeseva One', 'Times New Roman', Times, serif;
  font-size: 40px;
  line-height: 53px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}

.phone {
  color: #E3B873;
}

/* Header */

.wrap {
  max-width: 1250px;
  margin: 0 auto;
}

.wrap--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  text-transform: uppercase;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
}

.header-logo {
  display: inline-block;
  color: #E3B873;
}

.header-menu {
  display: flex;
}

.header-menu__item {
    margin-right: 47px;
}

.header-menu__link {
    color: white;
}

.header-button {
  padding: 13px 33px;
}

/* Main Screen */

.mainscreen {
  background-image: url('../images/hero.svg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

.wrap--mainscreen {
  width: 80%;
}

.mainscreen__content {
  position: relative;
  z-index: 1;
}

.mainscreen-overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

.mainscreen span {
  color: #E3B873;
}

.mainscreen__subtitle {
  font-size: 22px;
  line-height: 36px;
  margin-top: 19px;

  color: #FFFFFF;
}

.mainscreen button {
  margin-top: 41px;
  margin-right: 20px;
}

.button-calc-cost {
  padding: 19px 42px 21px 41px;
}

.button-submit {
  padding: 19px 23px 21px 22px;
  border: 1px solid #FFFFFF;
  background: transparent;
  box-shadow: none;
}

/* Page 2 - Completed project */
.wrap--project {
  padding-top: 99px;
  padding-left: 89px;
  color: black;
}

.menu__linkproject {
  color: rgba(255, 255, 255, 0.3);
}
